<hr />
<p>fav works!</p>
<div class="heading">
  <p>{{ title }}</p>
</div>
<div class="body">
  <ng-content></ng-content>
</div>
<span
  class="glyphicon"
  [class.glyphicon-star]="isFavorite"
  [class.glyphicon-star-empty]="!isFavorite"
  (click)="onClick()"
></span>
<span
  class="glyphicon"
  [class.glyphicon-star]="isFavorite2"
  [class.glyphicon-star-empty]="!isFavorite2"
  (click)="onClick()"
></span>
<span
  class="glyphicon"
  [class.glyphicon-star]="isSelected"
  [class.glyphicon-star-empty]="!isSelected"
  (click)="onClick()"
></span>

<hr />
